<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="row ml-1">
        <eml-comment-counter [count]="comments?.length"></eml-comment-counter>
      </div>
      <div class="dropdown-divider"></div>
      <eml-comment-list [comments]="comments"></eml-comment-list>
      <eml-comment-input (commentCreated)="onCommentCreated($event)"></eml-comment-input>
    </div>
    <div class="col-4">
      <div class="row ml-1">
        <h3>Search</h3>
      </div>
      <div class="dropdown-divider"></div>
      <eml-comment-search-input (searchComment)="onSearchComment($event)"></eml-comment-search-input>
      <eml-comment-search-result [comments]="filteredComments"></eml-comment-search-result>
    </div>
  </div>
</div>
